@media (max-width: 1440px) {
  .logo {
    img {
      width: 100px;
    }
  }
  .header_title {
    font-size: 130px;
    line-height: 100px;
    top: 20px;
    left: 60px;
  }
  .menu {
    padding-top: 10px;
  }
  .header_search {
    padding-bottom: 8px;
  }
}
.header_date {
  font-size: 60px;
  span {
    font-size: 14px;
    padding-top: 0;
    margin-bottom: 5px;
  }
}

@media (max-width: 1366px) {
  .header_aside {
    position: absolute;
    border-right: 25px;
    background-color: rgba(#fff, 0.1);
    height: 108px;
    text-align: left;
    display: flex;
  }
  .menu {
    padding-top: 0;
  }
  .menu_list {
    text-align: center;
    li {
      display: inline-block;
    }
    a {
      padding: 15px;
    }
  }
  .header_search {
    padding: 33px 15px 15px;
  }
  .header_date {
    padding: 15px;
  }
  .header_location {
    margin-top: 42px;
  }
  .slider-item_info-title {
    font-size: 65px;
  }
  .header_arrows {
    left: 20px;
    bottom: 20px;
  }
}

@media (max-width: 1340px) {
  .header_map {
    svg {
      width: 500px;
      height: 250px;
    }
  }
  .slider_arrows {
    top: 20px;
    right: 20px;
  }
  .slider_arrows_left {
    right: 60px;
  }
}

@media (max-width: 1040px) {
  .header_arrows {
    display: none;
  }
  .menu {
    background-color: black;
    z-index: 22;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    transition: all 0.5s ease;
    &.active {
      transform: translateX(0%);
    }
  }
  .header_search {
    padding: 40px 15px 15px;
  }
  .slider-item_info {
    position: absolute;
    right: 20px;
    bottom: 17px;
    text-align: right;
  }
  .slider-item_info-text {
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .headline-left {
    font-size: 16px;
    line-height: 18px;
    padding-left: 65px;
  }
  .slider-item_info-suptext {
    margin-bottom: 5px;
  }
  .headline-left::before {
    width: 50px;
  }
  .slider-item_info-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  .slider-dotshead {
    right: 0;
    left: 10px;
    margin: 0 auto;
    bottom: 5px;
  }
  .dots-box {
    width: 125px;
  }
  .dots-box_number {
    font-size: 18px;
  }
  .dots-box_name {
    line-height: 18px;
  }
}

@media (max-width: 767px) {
}
