@media (max-width: 1440px) {
  .logo {
    img {
      width: 100px;
    }
  }
  .header_title {
    font-size: 130px;
    line-height: 100px;
    top: 20px;
    left: 60px;
  }
  .menu {
    padding-top: 10px;
  }
  .header_search {
    padding-bottom: 8px;
  }
  .header_arrows {
    left: 130px;
  }

  .header_date {
    font-size: 60px;
    span {
      font-size: 14px;
      padding-top: 0;
      margin-bottom: 5px;
    }
  }
  .surf-box_inner {
    min-height: 650px;
  }
}

@media (max-width: 1366px) {
  .header_aside {
    position: absolute;
    border-right: 25px;
    background-color: rgba(#fff, 0.1);
    height: 108px;
    text-align: left;
    display: flex;
  }
  .menu {
    padding-top: 0;
  }
  .menu_list {
    text-align: center;
    li {
      display: inline-block;
    }
    a {
      padding: 15px;
    }
  }
  .header_search {
    padding: 33px 15px 15px;
  }
  .header_date {
    padding: 15px;
  }
  .header_location {
    margin-top: 42px;
  }
  .slider-item_info-title {
    font-size: 65px;
  }
  .header_arrows {
    left: 20px;
    bottom: 20px;
  }
}

@media (max-width: 1340px) {
  .header_map {
    svg {
      width: 500px;
      height: 250px;
    }
  }
  .slider_arrows {
    top: 20px;
    right: 20px;
  }
  .slider_arrows_left {
    right: 60px;
  }
}
@media (max-width: 1250px) {
  .slider-map {
    max-width: 1000px;
    min-height: 515px;
  }
  .slider-map .slick-list {
    min-height: 515px;
  }
  .slider-dots--1 {
    top: 226px;
    left: -13px;
    .slider-dots_content {
      transform: translateX(0);
      &::before {
        left: 0;
      }
    }
  }
  .slider-dots--2 {
    top: 240px;
    left: -6px;
    .slider-dots_circle {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-image: url(../images/mini-marker.png);
        background-size: cover;
        width: 14px;
        height: 17px;
        top: -20px;
        right: -14px;
      }
    }
  }

  .slider-dots--3 {
    top: 260px;
    left: 15px;
  }
  .slider-dots--4 {
    top: 406px;
    left: -43px;
  }

  .slider-dots--5 {
    top: 169px;
    left: -57px;
  }
  .slider-dots--6 {
    top: 450px;
    left: -96px;
  }
  .slider-dots--7 {
    top: 322px;
    right: 80px;
  }
  .slider-dots--8 {
    top: 407px;
    right: -28px;
    .slider-dots_content {
      transform: translateX(-262px);
      &::before {
        left: auto;
        right: 0;
      }
    }
  }
}
@media (max-width: 1102px) {
  .slider-map {
    background-image: none;
    max-width: 100%;
    min-height: 280px;
    .slick-list {
      overflow: hidden;
      min-height: 280px;
    }
    .slick-track {
      min-height: 280px;
    }
  }
  .slider-dots_circle {
    display: none;
  }
  .slider-dots_content,
  .slider-dots--8 .slider-dots_content {
    transform: translateX(0);
  }
  .slider-dots_content {
    display: block;
    width: 285px;
    padding: 28px 31px 0 32px;
    &::before {
      display: none;
    }
  }
  .slider-dots {
    position: static;
  }
  .slider-map .slick-current .slider-dots_content {
    background: rgba(#ccc, 0.7);
  }
}

@media (max-width: 1040px) {
  .header_arrows {
    display: none;
  }
  .menu {
    background-color: black;
    z-index: 22;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    transition: all 0.5s ease;
    &.active {
      transform: translateX(0%);
    }
  }
  .menu-btn {
    display: flex;
  }
  .header_search {
    padding: 40px 15px 15px;
  }
  .slider-item_info {
    position: absolute;
    right: 20px;
    bottom: 17px;
    text-align: right;
  }
  .slider-item_info-text {
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .headline-left {
    font-size: 16px;
    line-height: 18px;
    padding-left: 65px;
  }
  .slider-item_info-suptext {
    margin-bottom: 5px;
  }
  .headline-left::before {
    width: 50px;
  }
  .slider-item_info-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  .slider-dotshead {
    right: 0;
    left: 10px;
    margin: 0 auto;
    bottom: 5px;
  }
  .dots-box {
    width: 125px;
  }
  .dots-box_number {
    font-size: 18px;
  }
  .dots-box_name {
    line-height: 18px;
  }
}

@media (max-width: 960px) {
  .slider-dotshead {
    display: none;
  }
}
@media (max-width: 767px) {
}
@media (max-width: 460px) {
  .header_aside {
    display: block;
    text-align: center;
    padding-right: 0px;
    height: 100vh;
  }
  .header_search {
    padding: 15px 0 5px;
    // margin-bottom: 0;
  }
  .header_date {
    padding: 0;
    font-size: 50px;
    line-height: 45px;
    span {
      font-size: 12px;
    }
  }
  .header_location {
    margin-top: 0px;
  }
  .header_title {
    display: none;
  }
}
